BasedOnStyle: LLVM
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignOperands: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
ColumnLimit: 100
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: Never
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Never
